@font-face {font-family: 'iconfont';
    src: url('demo/iconfont.eot'); /* IE9*/
    src: url('demoiconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('demo/iconfont.woff') format('woff'), /* chrome、firefox */
    url('demo/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('demo/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
     }
body{
	font-family: SimHei;
}
.whole{
	margin:0 auto;
	width: 1280px;
	height:1686px;
/*	background-color: lightblue;*/
}
.top-th{
	float: left;
	width:426.5px;
	height:522px;
}
#first{
	background-color: #E7504D;
}
#first p{
	text-align: center;
	position: relative;
	top: 144px;
	color: white;
	line-height: 10px;
	font-size: 21px;
}
#first hr{
	position: relative;
	top: 239px;
}
.button{
	margin-top: 200px;
	margin-left: 130px;
	width: 170px;
	height: 45px;
	border:white solid thin;
    outline-color:#00ff00;
}
.button a{
	position: relative;
	left: 43px;
	top: 12px;
	text-decoration: none;
	color: white;
	font-size: 21px;
}
.button a:hover{
	cursor: pointer;
	font-size: 20px;
}
#second{
	background-color: white;
}
#second p{
	text-align: center;
	position: relative;
	top: 144px;
	line-height: 10px;
	font-size: 21px;
}
#second hr{
	position: relative;
	top: 239px;
}
.butt{
	margin-top: 200px;
	margin-left: 130px;
	width: 170px;
	height: 45px;
	border:#E7504D solid thin;
    outline-color:#00ff00;
}
.butt a{
	position: relative;
	left: 43px;
	top: 12px;
	color: black;
	text-decoration: none;
	font-size: 21px;
}
.butt a:hover{
	cursor: pointer;
	font-size: 20px;
}
#third{
	background-image: url(picture/picture1.png);
}
.triangle{
	margin-top: 245px;
	height: 0px;
    width: 0px;
    border-color: transparent transparent transparent white;   
    border-style: solid;   
    border-width: 15px 25px 15px 25px;  
}
.middle{
	margin: 0 auto;
	width: 1280px;
	height: 301px;
}
.middle p{
	text-align: center;
}
.c{
	position: relative;
	top: 116px;
	font-size: 21px;
}
.x{
	position: relative;
	top: 116px;
	line-height: 8px;
	color: #AAAAAA;
	font-size: 12px;
	font-family: "Microsoft Yahei";
}
.form{
	margin:0 auto;
	margin-top: 517px;
	width: 1005px;
	height: 284px;
	/*background-color: red;*/
}
.form-left{
	width: 295px;
	height: 284px;
	/*background-color: pink;*/
}
.right{
	margin-top: -284px;
	margin-left: 365px;
	width: 641px;
	height: 284px;
	/*background-color: pink;*/
}
.form a{
	text-decoration: none;
	color: black;
}
.form p{
	font-size: 12px;
	color: #AAAAAA;
	line-height: 10px;
}
.ja{
	margin-top: 23px;
}
.pha2{
  margin-top: 32px;
}
.pha3{
 */
}
.more{
	margin-left: 246px;
	font-size: 12px;
	color: #AAAAAA;
}
.mo{
	margin-left: 246px;
	position: relative;
	top: 13px;
	font-size: 12px;
	color: #AAAAAA; 
}
.right input{
	float: left;
    margin-right: 5px;
    margin-bottom: 5.4px;
    background-color: #EDEDEF;
    width: 311.5px;
    height: 40px;
}
.right textarea{
	width: 635px;
	height:121px;
	margin-bottom: 5px;
	background-color: #EDEDEF;
}
.right button{
	width: 641px;
	margin-top: 5px;
	background-color: #EDEDEF;
}
.right button:hover{
	cursor: pointer;
}
.footer{
	margin: 0 auto;
	margin-top:166px; 
	width: 1280px;
	height: 360px;
	background-color:#33363F; 
}
.word{
    position: relative;
	top: 90px;
}
.word p{
	text-align: center;
	color: white;
	
}
.d{
	font-size: 21px;
}
.e{
	font-size: 12px;
	line-height: 10px;
}
.fo{
	margin: 0 auto;
	margin-top: 110px;
	width: 515px;
	height: 41px;
}
.fo input{
	height: 41px;
	width: 431px;
}
.fo button{
	position: relative;
	top: -46px;
	margin-left: 431px;
	width: 81px;
	height: 46px;
	color:white;
	font-size: 16px;
	font-family:"Microsoft Yahei"; 
	background-color: #6F7278;
}
.fo button:hover{
	cursor: pointer;
}
.ic{
	margin:0 auto;
	width:190;
	height: 30px;
}
.icon{
	font-family:"iconfont" !important;
    font-size:21px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    margin:5px; 
    position: relative;
    left: 155px;
}
.icon:hover{
	cursor:pointer;
	font-size: 20px; 
}
.footer-bot{
	margin: 0 auto;
	margin-top: 132px;
	width: 1280px;
	height: 55px;
	background-color: #2F2F38;
}
.footer-bot p{
	float: left;
	color: white;
	font-family:"Microsoft Yahei";
	font-size: 12px;
}
.oo{
	margin-left:98px;
	margin-top:31px;  
}
.op{
	margin-top: 31px;
	margin-left: 1010px;
}
.op:hover{
	cursor: pointer;
}
